<!DOCTYPE html>
<html lang="de">
<head>
<title>Dokumentation: Thema der Arbeit</title>
<meta charset="utf-8" />
<meta name="author" content="Oliver Erhart" />
<meta name="dcterms.issued" content="2014-08-21" />
<meta name="keywords" content="expose, ..." />
<meta name="description"
	content="HTML5/CSS3 template to be used for print media" />
<link rel="author" href="mailto:e0825648@student.tuwien.ac.at" />
<link rel="license" href="http://wannesm.be/articlecls/license/" />


</head>
<body>
	<article>



		<section>
			<h2 class="nonumber notoc">
				ausgeführt im Rahmen der Lehrveranstaltung<br /> 183.xxx –
				Lehrveranstaltungsbezeichnung
			</h2>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>
				Vorname Nachname<br /> Matrikelnummer<br /> Kennzahl<br />
				Studienrichtung<br />

			</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>Datum</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>

		</section>

		<section>
			<h2>Kurzfassung</h2>
			<p>xxx</p>
			<p>Dieses Template dient als Vorlage für die Dokumentation Ihres
				Praktikums. Individuelle Erweiterungen und Strukturanpassungen
				sollen nach persönlichem Ermessen durch den Praktikanten vorgenommen
				werden.</p>
		</section>

		<section id="toc">
			<h2 class="notoc">Inhaltsverzeichnis</h2>
		</section>

		<section>
			<h2>Abbildungsverzeichnis</h2>
			<h2>Tabellenverzeichnis</h2>
		</section>


		<section>
			<h2>Einleitung</h2>
			<p>Die angeführten Punkte können nach eigenem Ermessen angepasst
				bzw. erweitert werden!</p>
			<h3>Problemstellung/ Zielsetzung</h3>
			<p>&nbsp;</p>
			<h3>Zitate</h3>
			<p>Literaturquellen müssen folgende Angaben beinhalten:
			<ul>
				<li>Bücher: Autor, Buchtitel, Verlag, Erscheinungsort und -jahr</li>
				<li>Journals/Zeitschriften: Autor, Titel, Zeitschriftenname,
					Jahrgang, Nummer, Jahr, Seitenzahlen</li>
				<li>Proceedings: Autor, Titel, Konferenzname, Herausgeber,
					Erscheinungsort und –jahr</li>
			</ul>
			</p>
			<p>Sie können nach Belieben einen Zitierstil auswählen, wichtig
				ist Einheitlichkeit. Hier sind 2 häufig verwendete Beispiele:
			<ol>
				<li><b>IEEE-Stil</b> (in EndNote als IEEE.ens verfügbar, <a
					href="http://www.ijssst.info/info/IEEE-Citation-StyleGuide.pdf"
					target="_blank">Guidelines</a>): <br /> Kurzzitat: numerisch,
					Beispiel: [1] <br /> Literaturverzeichnis: E. Wollenweber, J. F.
					Stevens, K. Klimo, J. Knauft, N. Frank, and C. Gerhauser, "Cancer
					chemopreventive in vitro activities of isoflavones isolated from
					Iris germanica," Planta Medica, vol. 69, pp. 15-20, 2003.</li>
				<li>APA-Stil (EndNote: APA 5th.ens, <a
					href="http://owl.english.purdue.edu/owl/resource/560/03/"
					target="_blank">Guidelines</a>): Kurzzitat: (Wegener & Petty, 1994)
					Literaturverzeichnis: Wegener, D. T., & Petty, R. E. (1994). Mood
					management across affective states: The hedonic contingency
					hypothesis. Journal of Personality & Social Psychology, 66,
					1034-1048.
				</li>
			</ol>
			</p>
			<h3>Grafiken</h3>
			<p>Beschreibungen zu Abbildungen und Tabellen stehen unter dem
				Bild. Jede Abbildung muss im Fließtext referenziert werden. Wenn das
				Wort Abbildung bzw. Tabelle am Satzanfang steht, wird es
				ausgeschrieben, innerhalb eines Satzes wird es üblicherweise
				abgekürzt:</p>
			<ul>
				<li>Abbildung 2.1 verdeutlicht ...</li>
				<li>Wie oben dargestellt (s. Abb. 2.1), ...</li>
			</ul>
			<figure>
				<img src="img" title="results" width="60%">
				<figcaption>Abbildung 1: xxx (Quelle zitieren, wenn
					nicht selbst erstelt)</figcaption>
			</figure>

			<h3>Tabellen</h3>
			<p>
				Jede Tabelle muss im Fließtext referenziert werden, Bsp: Tabelle 2.1
				zeigt.... <br /> Oder: Aussage (s. Tab. 2.1).....
			</p>
			<table>
				<caption>Tabelle 1: xxx (Quelle angeben)</caption>
				<thead>
					<tr>
						<th>Überschrift
						<th>Überschrift
						<th>Überschrift
				<tbody>
					<tr>
						<td>xxx
						<td>xxx
						<td>xxx
					<tr>
						<td>xxx
						<td>xxx
						<td>xxx
			</table>
		</section>
		<section>
			<h2>Methodisches Vorgehen - Fallbeispiel</h2>
			<p>Auf Ihre konkrete Problemstellung im Detail eingehen.</p>
		</section>
		<section>
			<h2>Resultat</h2>
			<p>&nbsp;</p>
		</section>
		<section>
			<h2>Zusammenfassung</h2>
			<p>&nbsp;</p>
		</section>
		<section id=bibliography>
			<h2>Literaturverzeichnis</>
		</section>
	</article>

	<!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
</body>
</html>