<!DOCTYPE html>
<html lang="de">
<head>
<title>Exposé zur Diplomarbeit (Diploma Thesis Exposé)</title>
<meta charset="utf-8" />
<meta name="author" content="Oliver Erhart" />
<meta name="author" content="Test Author" />
<meta name="dcterms.issued" content="2014-08-21" />
<meta name="keywords" content="expose, ..." />
<meta name="description"
	content="HTML5/CSS3 template to be used for print media" />
<link rel="author" href="mailto:e0825648@student.tuwien.ac.at" />
<link rel="license" href="http://wannesm.be/articlecls/license/" />


</head>
<body>
	<article>



		<section>
			<h2 class="nonumber">Vorläufiger Arbeitstitel der Arbeit (Title)</h2>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>
				<b>Betreuer (Advisor): <span class="header-block">Thomas
						Grechenig</span><br /> Betreuender Assistent (Assistance): <span
					class="company">Vorname Nachname</span>
				</b>
			</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>
				Vorname Nachname<br /> Matrikelnummer (Registration Number)<br />
				9XX, Studienrichtung
			</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>

			<p>
			<table>
				<tbody>
					<tr>
						<td rowspan="2">Ort, Datum</td>
						<td class="signature"></td>
					</tr>
					<tr>
						<td>Thomas Grechenig</td>
					</tr>
				</tbody>
			</table>
			</p>
		</section>

		<section>
			<h1>Exposé der geplanten Diplomarbeit (Exposé of Proposed
				Diploma Thesis)</h1>
			<section>
				<h2>Problemstellung (Problem Description)</h2>
				<p>
					Testformel für MathJax <span class="mathjax-input">aaa</span>
				</p>
				<p>Allgemeine Problemstellung: Formulierung der konkreten
					Problemstellung in wenigen Sätzen. Welchem Themenbereich ist die
					Arbeit zuzuordnen? Wie erfolgt die Themenabgrenzung? max. 1/2
					Seite.</p>
				<p>Detaillierte Problemstellung: Was motiviert Sie zu dieser
					Arbeit? Auf welchen theoretischen Grundlagen baut die Fragestellung
					auf? Welche Spezifika hat der Anwendungsbereich, in dem das Problem
					gelöst wird? Welche Spezifika hat die eingesetzte Technologie?,
					max. 1/2 Seite.</p>
			</section>
			<section>
				<h2>Erwartetes Resultat (Expected Results)</h2>
				<p>Klare Darstellung der wissenschaftlichen Relevanz des Themas.
					Welche Hypothesen/ Theorien werden unterstützt, widerlegt oder
					verfeinert? Welche Fragen sollen durch die Diplomarbeit konkret
					beantwortet werden? In welche Phasen wird sich die Beantwortung der
					Fragen gliedern? Worin liegt die Ingenieur-wissenschaftliche
					Leistung bei angewandten Themen (Entwicklungsarbeiten)? - Handelt
					es sich um die Entwicklung eines komplexen Systems (wie definiert
					man Komplexität im Rahmen der Arbeit?), einen neuen Algorithmus,
					dessen Implementierung und Test, den Einsatz einer neuen
					Entwicklungsmethode etc.; Welches Ziel soll durch die Diplomarbeit
					erreicht werden, welches Ergebnis wird erwartet/ angestrebt? ca.
					0,5 bis max. 1 Seite.</p>
			</section>
			<section>
				<h2>Methodisches Vorgehen (Methodological Approach)</h2>
				<p>Werden theoretische, praktische oder empirische Analysen
					durchgeführt? Klare Darstellung der eingesetzten theoretischen und
					praktischen Methoden (Befragung, Recherche, Statistik, Rapid
					Prototyping, Objektorientierte Analyse, UML, Komponenten-basierte
					Entwicklung, Programmiersprachen etc.). Welche methodische
					Vorgehensweise (zeitliche Abfolge von Arbeitsschritten) wird zur
					Beantwortung der zuvor definierten Fragen angewandt (bzw. zum
					Unterstützen, Widerlegen oder Verfeinern der beschriebenen
					Hypothesen/ Theorien)? Welche speziellen Aspekte (z.B.
					Rahmenbedingungen, Abhängigkeiten von Arbeitsergebnissen anderer)
					sind bei der Durchführung Ihrer Arbeit zu berücksichtigen und wie
					planen Sie damit umzugehen (z.B. wie gehen Sie vor, wenn die
					benötigten Arbeitsergebnisse nicht zeitgerecht vorliegen)? ca. 0,5
					bis max. 1 Seite.</p>
			</section>
			<section>
				<h2>State-of-the-Art</h2>
				<p>Welche Lösungen oder ähnliche Projekte gibt es schon –
					Einbettung von Literaturzitaten (mind. 5);</p>
				<p>Fallbeispiele
			</section>
			<section>
				<h2>Bezug zum gewählten Studium (Relevance for XXX)</h2>
				<p>Erläutern, inwiefern die geplante Diplomarbeit zum gewählten
					Masterstudium paßt.</p>
			</section>
			<section>
				<h2>Literatur (Literature)</h2>
				<p>Mind. 5 - 10 Einträge; wenn Sie bereits mehr recherchiert
					haben, bitte „gute“ Zitate (s. unten) nicht entfernen; Zitate
					gemäss Regeln für Literaturverzeichnisse, wissenschaftliche
					Arbeiten (Papers, Dissertationen etc.) von einschlägigen Quellen
					des jeweiligen Fachbereiches (z.B. ACM, IEEE, Universitäten). Im
					Literaturverzeichnis des Exposés sollten keine Handbücher,
					populärwissenschaftlichen Zeitungen, Diplomarbeiten oder Webseiten
					(URLs auf elektronische Ausgaben wissenschaftlicher Arbeiten sind
					zulässig) aufgelistet werden. Beispiele, s. auch:
					http://owl.english.purdue.edu/owl/resource/560/03/
				<ul>
					<li>Berndt, T. J. (2002). Friendship quality and social
						development. Current Directions in Psychological Science, 11,
						7-10.</li>
					<li>Wegener, D. T., & Petty, R. E. (1994). Mood management
						across affective states: The hedonic contingency hypothesis.
						Journal of Personality & Social Psychology, 66, 1034-1048.</li>
					<li>Schnase, J. L., & Cunnius, E. L. (Eds.). (1995).
						Proceedings from CSCL '95: The First International Conference on
						Computer Support for Collaborative Learning. Mahwah, NJ: Erlbaum.</li>
				</ul>
				<div id="Cites"></div>

				</p>
			</section>
		</section>
	</article>

	<!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
</body>
</html>