<html>
<head>
<title>Web Publishing Chain Prototype</title>
<link rel="stylesheet" href="../css/articlecls/articlecls.css"
	type="text/css" />

</head>
<h1>Web Publishing Chain Prototype</h1>
<p>This is an attempt to use Aloha Editor for the HTML/CSS
	representation with Article.cls for single source publishing.</p>
<p>With this proof of concept prototype it is able to create content
	with a Article.cls template.</p>
<p>Extended Aloha Functionality is:
<ul>
	<li>Footnote Plugin</li>
	<li>Edit Header</li>
	<li>Edit Authors (add and delete not implemented)</li>
	<li>Edit Creation Date</li>
</ul>
</p>
<h2 class="nonumber">Test Documents</h2>
<ul>
	<li>Article.cls
		<ul>
			<li><a href="/edit/articlecls">Article.cls Demo</a></li>
		</ul>
	</li>
	<li>INSO-Templates
		<ul>
			<li><a href="/edit/expose">INSO Expose</a></li>
			<li><a href="/edit/projektbericht">INSO Projektbericht</a></li>
		</ul>
	</li>
</ul>
</html>