<!-- Article.cls includes -->
<link rel="stylesheet" href="../css/articlecls/articlecls.css"
	type="text/css" />
<script type="text/javascript; e4x=1" src="../js/citeproc/xmle4x.js"></script>
<script src="../js/lib/jquery-1.7.1.min.js"></script>
<script
	data-options="interactive,tocsearch, altfootnotes,citationstyle=springer-author-date"
	src="../js/articlecls/articlecls.js"></script>
<script src="../js/articlecls/articlecls_reset.js"></script>

<!-- Aloha includes -->
<link rel="stylesheet" href="../js/aloha/css/aloha.css" type="text/css">
<script src="../js/aloha/lib/require.js"></script>
<script src="../js/aloha/aloha-config.js"></script>
<script src="../js/aloha/lib/aloha.js"
	data-aloha-plugins="common/ui, common/format, common/highlighteditables, common/link, common/align, common/abbr, common/characterpicker, common/horizontalruler, common/image, common/list, common/paste, common/table, articlecls/footnote, articlecls/headerblock, common/block"></script>

<!-- Custom Includes -->
<link rel="stylesheet" href="../css/main.css" type="text/css">